body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-weight: 400;
}
hr {
  border-width: 4px;
  border-top-color: #BCBBBB;
}
img {
  border-radius: 2px;
}
.top-row {
  cursor: default;
}
.text-muted {
  color: #BCBBBB;
}
.text-thin {
  font-weight: 300;
}
.main-title {
  font-size: 3.5em;
  color: #3c4f6d;
}
.logo {
  margin-top: 20px;
}
.logo-block {
  border: 8px solid #F8981C;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  line-height: 88px;
  text-align: center;
  color: #F8981C;
  font-size: 35px;
  font-weight: bold;
}
.foot-title {
  margin-top: 20px;
  padding-left: 10px;
}
a.link-text {
  text-decoration: none;
  color: #BCBBBB;
}
h3.footer {
  color: #3c4f6d;
}
h3.footer:hover {
  color: #F8981C;
}
.modal-content {
  color: #353535;
  line-height: 170%;
}
.project-separator {
  margin-top: 10px;
  margin-bottom: 20px;
}
.project-sep-hr {
  border-top-width: 1px;
}
.contact-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ic {
  color: #535353;
  width: 2em;
}
.ic:hover {
  text-decoration: none;
  color: #AFB42B;
}
.ic:focus {
  text-decoration: none;
}
.ic:active {
  color: #747704;
}
.img-center {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.img-center:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
.img-modal {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: underline;
    color: inherit;
}
.skills-used {
	color: #BCBBBB;
}
.skill {
	display: inline-block;
	max-width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 1px;
	margin-right: 15px;
}

@media (max-width: 991px) {
  .logo-block {
    margin-left: auto;
    margin-right: auto;
  }
  .head-block {
    text-align: center;
  }
  h2.head-block {
    text-decoration: underline;
  }
  .content-col {
    margin-bottom: 60px;
  }
  .img-center {
    margin-left: auto;
    margin-right: auto;
  }
  .foot-title {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .project-separator {
    display: none;
  }
}
